<div class="members">
  <ul class="code-editor-options-menu" *ngFor="let name of names">
    <li>
      <span>{{name}}</span>
    </li>
  </ul>
</div>
<div class="chat">
  <ul class="code-editor-options-menu" *ngFor="let message of messages">
    <li>
      <span [class]="message.isSystem ? 'system' : ''">{{message.message}}</span>
    </li>
  </ul>
  <div class='send-message'>
    <form (ngSubmit)="enviaMsg()">
      <input class="form-field_input" id="novaMsg" type="text" [(ngModel)]="newMessage" name="novaMsg" >
      <button type="submit">Enviar</button>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
