.members {
    float:left; 
    background:#530971;
    width:25%;
    height:100vh;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant-caps: small-caps;
    font-size: 22px;

    ul {
        list-style-type: none;
    }
}
.chat {
    float:right;
    background:#F0F0F0;
    width:75%;
    height:100vh;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    ul {
        list-style-type: none;

        span.system {
            color: gray;
        }
    }
}
.send-message {
    position: fixed;
    bottom: 0;
    padding: 10px;
}